.items-container {
    &__item-space {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__top {
        margin: 2rem 0;
    }

    &__item-title {}

    &__items {
        display: flex;
        gap: 5rem;
    }

    &__bkgrnd-block {
        background-color: $color-white;
        border-radius: 0.1rem;
        padding: 2rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        
    }
    &__bkgrnd-block--noMargin {
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__action-buttons {
        display: flex;
        gap: 2rem;
    }

    &__additional {
        display: flex;
        gap: 2rem;
    }

    &__item-parag {
        flex: 1 0 auto;
    }

    &__additionl3 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__bold {
        font-weight: bold;
    }

    &__grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


// &:not(:last-child)