<form style="display:inline-block" method="post" action="{{ path('app_user_tabletab_delete', {'id': eventList.id, 'tabletab_id': tabletab.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tabletab.id) }}">
    <button class="items-container__a items-container__a--2"><i class="fa-solid fa-trash"></i></button>
</form>
