.hero-title {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.hfour {
    font-size: 3rem;
    text-transform:lowercase;
    letter-spacing: 0.3rem;
    margin-bottom: 10rem;
}

.htwo {
    text-transform: uppercase;
    text-align: center;
}

.item-parag {
    font-size: 1.4rem;
}

.main-paragraph {
    font-size: 1.7rem;
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.prime, .secondary, .dashboard-secondary, .title, .event-dashboard__h3 {
    text-transform: uppercase;
}

.prime {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.secondary {
    color: #333;
}

.dashboard-secondary {
    font-size: 1.9rem;
}

.dashboard-tertiary {
    font-size: 1.7rem;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.event-dashboard__h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}