{% extends 'userbase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div class="dashboard-center-container">
        <div class="item-border">
            <h2 class="item-title">My pre-event photos</h2>
        </div>

        <div class="bkgrnd-block">
            <div class="photo-list">
                <div class="item-list-photo">
                    <img class="wedding-img" src="{{ asset('uploads/Pre-Event-Photos/'~ pictures.namePath )}}" alt="wedding">
                </div>
            </div>
        </div>
        <a href="{{ path('app_user_picture_new', {'id': eventList.id}) }}" class="btn btn-item">Ajouter image</a>
    </div>

{% endblock %}