.btn {

    &,
    &:link,
    &:visited {
        padding: 1rem 3rem;
        background-size: 200% auto;
        color: #fff;
        background-color: $color-grey-dark-3;
        border-radius: 0.2rem;
        display: inline-block;
        border: none;
        cursor: pointer;
    }

    &--hero {
        margin-top: 5rem;
        text-transform: uppercase;
    }

    &--card {
        padding: 1rem 2rem;
        text-transform: lowercase;
        margin-top: 1.5rem;
    }

    &--form-contact {
        background-color: $color-primary;
        color: #1d1d1d;
        text-transform: uppercase;
        border: none;
        margin-top: 4rem;
    }
}