.event-photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__imgbox {
        border-radius: 0.1rem;
        padding: 0.2rem;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__form {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__btn {
        width: 16%;
    }

    &__delete {
        background-color: $color-white;
        padding: .1rem;
        position: absolute;
        right: .4rem;
        top: 2rem;
    }
}

