{% extends 'userbase.html.twig' %}

{% block title %}
	Theme
{% endblock %}

{% block body %}

    <section class="dashboard-container">
        <div class="items-container">
            <div class="items-container__item-space">
                <h2 class="items-container__item-title">Invitations, Change Layout</h2>
            </div>

            <div class="bkgrnd-block ">
                <div class="items-container__bkgrnd-block">
                {% for guest in guests %}
                    <a class="website__btn" href="{{ path('app_user_website_index', {'id': eventList.id, 'token': guest.token }) }}" class="btn btn-item">
                        <i class="website__icon fa-solid fa-user"></i>
                        <p class="website__paragraph">{{ guest.name }}'s invitation</p>
                    </a>
                {% else %}
                    <p>no results found</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>  

{% endblock %}


        