{% extends 'base.html.twig' %}

{% block title %}Hello MaindashboardController!
{% endblock %}

{% block body %}

	{% for eventTypeName in eventTypeNames %}
		<p>{{ eventTypeName.name }}</p>
		<p>{{ eventTypeName.id }}</p>
        {# <a href="{{ path('app_front_detailProduct', {'id': eventTypeName.id}) }}"> #}
	{% endfor %}

{% endblock %}
