@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,400;1,800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: 62.5%;*/
    font-size:85%;
}

body {
    font-family: 'Raleway', 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #333;
    background-color: #f3f3f3;
}

.container {
    max-width: 100rem;
    margin: 7rem auto 15rem auto;
    display: flex;
    /* align-items: flex-start; */
}

.section-container {
    max-width: 130rem;
    margin: 0 auto;
}


.btn {
    padding: 10px 90px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 5px;
    border: none;
}

.btn__light {
    background-image: linear-gradient(to right, #982b2b, #333);
}

.btn__text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: #26442d;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.registerBtn {
    display: inline-block;
    background-color: #3f3f3f;
    border-radius: 0.3rem;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 0;
}

.register-form .rfirstname,
.rlastname,
.remaill,
.rpassword,
.rrepass,
.rphone,
.rzip,
.rcountry,
.raddress,
.rcity
{
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0.5rem;
    background-color: #d6a997;
}

.evname, .evdate, .evbudget, .evlocation, 
.evbridesname, .evbridesemail, .evgroomsname, .evgroomsemail {
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0.5rem;
    background-color: #d6a997;
}

.prime {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.secondary {
    text-transform: uppercase;
    color: #333;
}

.secTwo-para {
    color: #333;
}

.dashboard-tertiary a:link, .dashboard-tertiary a:visited, .dashboard-tertiary a:hover, .dashboard-tertiary a:active {
    color: #1d1d1d;
}

.dashboard-secondary a:link,.dashboard-secondary a:visited, .dashboard-secondary a:hover, .dashboard-secondary a:active {
    color: #1d1d1d;
}


/* HERO SECTION HOME */
.header {
    /* margin: 3rem auto 5rem auto; */
    padding: 9rem;
    background-color: #d6a997;
    z-index: -2;
    border-radius: 0.2rem;
    max-width: 100%;
    height: 63rem;
    height: 80vh;
}

.header__title {
    margin-top: 20rem;
    text-align: center;
}

.hero-title {
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.para-prime {
    text-transform: uppercase;
}

.hero-btn {
    margin-top: 5rem;
}

.nav__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9rem;
    padding: 0 6rem;
    z-index: 100;
}

.nav {
    border-bottom: 1px solid #313131;
}

.nav__logo {
    align-self: center;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s;
}

.nav .sticky {
    position: fixed;
    background-color: #fff;
}

.inactives {
    color: #999;
}

.nav-margbtm {
    margin-bottom: 3rem;
}

/*  NAVIGATION LINKS 6 DROPDOWN MENU */
.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style-type: none;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    left: 0;
    width: 100%;
    margin-top: 0.5px;
    /* TO MAKE SURE THEY ARE NOT VISIBLE BUT ALSO NOT INVISIBLY THERE */
    /* overflow: hidden; */
    max-height: 200px;
    transition: 1s;
}

.dropdown-menu__link {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: #666666;
}


.dropdown-menu__link:hover {
    background-color: #333;
    color: #c5c5c5;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.footer {
    margin-top: 5rem;
    background: #d6a997;
    color: #fff;
    padding: 5rem 5rem 1rem 5rem;
}

.footer__links {
    list-style: none;
    text-align: center;
}

.footer__link:link,
.footer__link:visited {
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
    color: #333;
    display: inline-block;
    transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
    text-decoration: underline;
    color: #e7d5cd;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 7rem;
}

.footer__logobox {
    font-size: 0;
}

.footer__logo {
    height: 15rem;
    align-self: center;
}

.footer .social {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.footer .social__anchor {
    text-decoration: none;
}

.footer .fab {
    font-size: 25px;
    color: #777;
    border: 0.5px transparent solid;
    border-radius: 24%;
    padding: 1rem;
    line-height: 20px;
}

.footer .fab:hover {
    background: #982b2b;
    color: #fff;
}

.footer__rights p {
    text-align: center;
}

.footer__rights>p {
    color: #777;
}

.footer__rights__anchor {
    text-decoration: none;
    color: #777;
    text-decoration: underline;
}

.footer__rights__anchor--1::after {
    content: " | ";
    color: #777;
}

/* FOOTER ADDRESS INFO */
.footer__nav-address {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 5rem;
    color: #333;
}

.footer__address p {
    font-size: 1.2rem;
}

/* FOOTER ICONS TRANSITIONS */
.icon {
    font-size: 25px;
    color: #333;
    border: 0.5px transparent solid;
    border-radius: 24%;
    padding: 1rem;
    line-height: 20px;
    transition: all 0.5s;
}

.icon:hover {
    background: #ebd7d0;
    color: #333;
}

.references {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem 6rem;
}

.references__imgbox {
    font-size: 0;
}

.references__img {
    width: 100%;
    object-fit: cover;
}

/* CARD SECTION - 1st section in the home page */

.container-home {
    margin: 0 auto;
    max-width: 130rem;
    padding: 3rem 2rem 5rem 2rem;
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-header {
    margin-bottom: 5rem;
    text-align: center;
}

.specials {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 2fr);
}

.card {
    flex: 1;
    text-align: center;
    background-color: #f7e6e1;
    border-radius: 0.3rem;
    padding-top: 3rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.card-content {
    padding: 2rem;
}

.link-expertise {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    display: block;
    border-top: 2px solid #26442d;
    padding: 1rem 0;
}

.link-expertise:hover {
    color: #fff;
    background-color: #26442d;
}

.icon2 {
    font-size: 25px;
    color: #26442d;
    border: 0.5px transparent solid;
    border-radius: 24%;
    padding: 1rem;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.btn-div {
    margin-top: 6rem;
    text-align: center;
}

.hero-block-btn {
    background-color: #4b1515;
    color: white;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.hero-title {
    margin-top: 4rem;
    font-size: 5.5rem;
    line-height: 1.35;
}

.one {
    flex: 1;
}

.two {
    font-size: 0;
    flex: 1;
}

h4 {
    font-size: 2.4rem;
    font-weight: 500;
}

.header__img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1 / span 4;
    /* transform: translateY(-6rem); */
}

.highlight {
    position: relative;
}

.highlight::after {
    display: block;
    content: "";
    position: absolute;
    background-image: linear-gradient(to top left, #4b1515, #6a1d1d);
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
}

#contact-a .text-fields {
    display: grid;
    grid-template-areas: "name email"
        "subject phone"
        "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
}

#contact-a .text-fields .name-input {
    grid-area: name;
}

#contact-a .text-fields .subject-input {
    grid-area: subject;
}

#contact-a .text-fields .email-input {
    grid-area: email;
}

#contact-a .text-fields .phone-input {
    grid-area: phone;
}

#contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px;
}

#contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
}

#contact-a .text-fields .text-input:focus {
    outline-style: none;
    color: #333;
}

#contact-a h2 {
    text-transform: uppercase;
    text-align: center;
}

.rdv:link,  .rdv:visited, .rdv:active,.rdv:hover{
    color: #1d1d1d;
}

#contact-a div {
    text-align: center;
}

#contact-a .lead {
    text-align: center;
    margin-bottom: 5rem;
}

.contactform__container {
    flex: 2;
    padding-right: 5rem;
    border-right: 0.5px solid #c5c5c5;
}

.file-btn{
    width: 10%;
    border: none;
    cursor: pointer;
    background-color: rgb(77, 77, 77);
    color: white;
    border-radius: 0.1rem;
    padding: 1rem 0;
}

.eitem-parag-link:link, .eitem-parag-link:visited, .eitem-parag-link:hover, .eitem-parag:active {
    color: #1d1d1d;
}

.address {
    flex: 1;
    padding-left: 4rem;
    align-self: center;
}

.address p {
    font-size: 1.2rem;
}

.form-contact {
    text-align: center;
}

.topSectionImageBox {
    width: 100%;
}

.topSectionImage {
    width: 100%;
}

.g-recaptcha {
    width: 100%;
}

.presentation {
    padding: 5rem 0 20rem 0;
}

.values {
    display: flex;
    gap: 2rem;
}

.values__one {
    margin-bottom: 6rem;
    background-color: #fff;
}

.values__two {
    background-color: #777;
}

.values__div-img {
    font-size: 0;
    flex: 1;
    align-self: center;
}

.values__img {
    width: 100%;
    object-fit: cover;
}

.values .text {
    font-size: 1.2rem;
    flex: 1;
    align-self: center;
}

.values .one {
    text-align: end;
    padding: 2rem 0 2rem 4rem;
}

.values .two {
    color: white;
    padding: 2rem 4rem 2rem 0;
}

.topSectionImageBox {
    background-color: black;
    height: 70rem;
    display: flex;
    margin-bottom: 5rem;
}

.topSectionImageBox .topSectionImage {
    max-width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.topSectionImageBox .center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-30%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 1rem 40rem 1rem 2rem;
}

.topSectionImageBox .center h1 {
    font-size: 3rem;
}

.presentation2 {
    padding: 5rem 0 10rem 0;
}

.values2 {
    display: flex;
    gap: 5rem;
}

.values2__div-img {
    font-size: 0;
    flex: 1;
    align-self: center;
}

.values2.values__one2 {
    margin-bottom: 4rem;
}

.values2.values__two2 {
    margin-bottom: 4rem;
}

.values2__img {
    width: 100%;
    object-fit: cover;
}

.values2 .text {
    font-size: 1.2rem;
    flex: 1;
    align-self: center;
}

.values2 .one2 {
    text-align: center;
}

.values2 .two2 {
    text-align: center;
}

.outer {
    padding: 5rem 20rem;
}

.partone {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 10rem;
    justify-content: center;
}

.partone__text {
    flex: 1;
}

.partone__imgbox {
    flex: 1;
    font-size: 0;
}

.partone__img {
    width: 100%;
    object-fit: cover;
}

.wedding-go-to-link:link, .wedding-go-to-link:visited, .wedding-go-to-link:hover, .wedding-go-to-link:active{
    color: #1d1d1d;
}

.eitem-parag {
    flex: 1;
}
.event-image {
    width: 50%;
}

.parttwo {
    margin-bottom: 3rem;
}

.parttwo2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.socialActuImg {
    width: 100%;
    font-size: 0;
}

.imageActu {
    width: 100%;
    object-fit: cover;
}

.socialActu {
    width: 100%;
}

/* POLITICS PAGE */
.politics {
    padding: 5rem 5rem;
}

.politics__container {
    max-width: 100rem;
    margin: 0 auto;
}

.politics__content p,
ul {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* LEGALS PAGE */
.legals {
    padding: 3rem;
}

.legals__container {
    text-align: center;
}

.legals__content {
    margin: 0 auto;
    max-width: 80rem;
}

.legals__content p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.string {
    font-weight: bold;
}


/* MAIN DASHBOARD */
.back-dashboard {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #333;
}

.dashboard-center-container {
    margin: 0 auto;
    width: 80%;
}

.dashboard-title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    /* margin-bottom: 3rem; */
}

.bkgrnd-block {
    background-color: #d6a997;
    border-radius: 0.2rem;
    padding: 4rem;
}

.flex-block {
    display: flex;
    gap: 5rem;
}

.dashboard-secondary {
    font-size: 2.3rem;
    text-transform: uppercase;
}

.dashboard-tertiary {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    text-align: center;
}

.list {
    margin: 1rem 0;
}

.eventtype-list h3:not(:last-child) {
    margin: 2rem 0;
}


/* CHECKLIST, BUDGET, GUEST, TABLES */
.item-summery {
    display: flex;
    flex-direction: row;
    gap: 8rem;

}

.item-title {
    margin-bottom: 3rem;
}

.item-border {
    padding: 2rem 0;
    margin: 3rem;
}

.btn-item {
    display: inline-block;
    margin-top: 3rem;
    background-color: #777;
    color: rgb(219, 219, 219);
    text-align: center;
}

.item-list {
    background-color: rgb(219, 219, 219);
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.checklist-checkbox {
    display: flex;
    gap: 1rem;
}

.item-list-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.budget-item-parag {
    margin-bottom: 2rem;
}

.table-item-parag {
    margin-bottom: 1rem;
}

.table-list {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.table-name {
    border-radius: 0.1rem;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.marg {
    margin-bottom: 2rem;
}

/* EVENT LIST */
.event-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    position: relative;
}
.actionb-absolute {
    position:absolute;
    top: 5px;
    left: 10rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}

.item-list-event {
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* PHOTOS */
.photo-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.photo-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-list-photo {
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.figure-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-dark {
    background-color: #333;
}



/* WEBSITE */
.margin {
    margin-top: 3rem;
}

.website-image-div {
    width: 40%;
    margin: 0 auto;
    position: relative;
}

.website-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
}

.eventType-desc {
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: lowercase;
}

.radio {
    display: flex;
    gap: 1.5rem;
}

#fname,
#lname,
#tel,
#email,
#diet {
    padding: 0.5rem;
}

.btn-light {
    background-color: rgb(116, 116, 116);
    color: white;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}


/* EVENT MAIN MENU */
.eventType-menu {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 0.5rem;
    width: 70%;
    margin: 5rem auto;
}

.menu-button {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    flex: 1;
    background-color: 1px solid #ffffff;
    box-shadow: 0 0.5em 0.5em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 0.5px rgba(10, 10, 10, 0.02);
    border-radius: 0.5rem;
    padding: 1rem;
}

.icon-button {
    font-size: 2rem;
    align-self: center;
}

.text-button {
    /*text-transform: uppercase;*/
    font-size: 1rem;
    font-weight: 800;
    align-self: center;
    text-align: center;
}

.frontmenu-link {
    color: #1d1d1d;
}

/* BACKEND MAIN MENU */
.property-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 10rem;
    justify-content: center;
    margin-top: 3rem;
}

.back-link {
    text-transform: uppercase;
}

/* BACKEND DASHBOARD */
.event-typelist-link {
    color: #c5c5c5;
    display: block;
    text-align: end;
    font-size: 1.5rem;
}

.ev {
    margin-top: 2rem;
}

/* EVENT PROPERTIES PAGE */
.dashboard-tertiary-center {
    text-align: center;
    margin-top: 3rem;
}

.parameters-form {
    display: flex;
    gap: 3rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.parameters-form .ename,
.edate,
.ebudget,
.elocation,
.bname,
.bemail,
.gname,
.gemail,
.ufirstname,
.ulastname,
.upass,
.urepass,
.uemail,
.uaddress,
.uphone,
.ucity {
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0.5rem;
    background-color: #d6a997;
}

.parameters-form label {
    margin: 1rem 0;
}

.left-part,
.right-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.formBtn {
    background-color: #333;
    color: #d6a997;
    border: none;
}

.formBtn-photo {
    margin-top: 1rem;
    background-color: #c5c5c5;
    color: #1d1d1d;
    border: none;
    width: 30%;
}


/* DASHBOARD WEDDING EVENT */
.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-event-dashboard {
    display: flex;
    gap: 1rem;
}

.dash-item {
    border-radius: 0.1rem;
    padding: 1rem;
    color: white;
    flex: 1;
}

/* .underline {
    border-bottom: 0.5px solid black;
} */

.dash-item1 {
    background-color: #fff;
}

.dash-item2 {
    background-color: #fff;
}

.dash-item3 {
    background-color: #fff;
}

.dash-item4 {
    background-color: #fff;
}

.dash-item5 {
    background-color: #fff;
}

.wedding-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wedding-info {
    margin-top: 2rem;
    text-align: center;
}

.two-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wedding-go-to {
    margin-top: 3rem;
}

.wedding-go-to-link {
    color: white;
    font-size: 1.2rem;
}

.dashboard-tertiary-smaller {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #1d1d1d;
}

.dash-event {
    font-size: 1.3rem;
    color: #1d1d1d;
}

.action-btns2 {
    margin-left: 2rem;
}

.item-list-check {
    background-color: #f1f1f1;
    border-radius: 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}


.hidden {
    display: none;
}


/* FORMS */

/* REGISTER FORMS */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.bkgrnd-block-registerform {
    width: 40%;
    background-color: #d6a997;
    border-radius: 0.5rem;
    padding: 4rem;
    margin: 0 auto;
}

.bkgrnd-block-registerform input:not(:last-child) {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 0.3px solid #333;
    background-color: #d6a997;
}

.login {
    margin-top: 10%;
}



.bkgrnd-block-itemform {
    width: 50%;
    background-color: #d6a997;
    border-radius: 0.5rem;
    padding: 4rem;
    margin: 0 auto;
}

.bkgrnd-block-itemform input[type="text"] {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 0.3px solid #333;
    background-color: #d6a997;
}

.item-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-checklist {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.form-guest-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    margin: 2rem 0;
}

.form-guest {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.form-guest select {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    margin-top: -1rem;
}

.items-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 2rem auto 0 auto;
}

.item-button-i {
    border-radius: 0.5rem;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.btn-save {
    background-color: #757575;

}

.btn-effacer {
    background-color: transparent;
    border: 2px solid #f5f5f5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(104, 104, 104, 0.63);
}

.wedding-event-btn {
    display: inline-block;
    background-color: #757575;
    border-radius: 0.3rem;
    color: #ffffff !important;
    padding: 8px 32px;
    text-transform: lowercase;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1rem;
}



/* .close-modal_icon {
    position: relative;
  } */
.icon-close {
    text-align: end;
}

.fa-solid {
    font-size: 2rem;
    text-align: end;
}

.guest-list-single {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.currentWeddingInfo {
    position: absolute;
    top: 25%;
    left: 31%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #FFF5;
    padding: 1rem;
}

/*MEDIA QUERY PAGE  */
@media screen and (max-width: 1056px) {
    .main-event-dashboard {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    .bkgrnd-block {
        padding: 2.5rem;
    }
}

@media screen and (max-width: 490px) {
    .bkgrnd-block {
        padding: 2rem;
    }

    .dashboard-title {
        font-size: 2rem;
    }

    .dashboard-secondary {
        font-size: 1.5rem;
    }

    .dashboard-tertiary {
        font-size: 1rem;
    }

    .bkgrnd-block-registerform {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .dashboard-center-container {
        width: 95%;
    }

    .property-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .eventType-menu-burger {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 720px) {
    .dashboard-title {
        font-size: 2.5rem;
    }

    .dashboard-secondary {
        font-size: 2rem;
    }

    .dashboard-tertiary {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    .dashboard-title {
        font-size: 1.7rem;
    }

    .dashboard-secondary {
        font-size: 1.4rem;
    }

    .dashboard-tertiary {
        font-size: 1rem;
    }

    .btn-item {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 840px) {
    .item-summery {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .item-list-single {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .marg {
        border-bottom: 0.5px solid black;
    }

    /* .underline {
        border-bottom: none;
    } */
}


/* @media screen and (max-width: 840px) {
    .item-list-single {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
} */


@media screen and (max-width: 1054px) {

    .parameters-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .flex-block {
        flex-direction: column;
    }

    .form-info {
        width: 50%;
    }

    .btn {
        padding: 1rem 4rem;
        border: 0.1rem;
        width: 100%;
    }

    .photo-list {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }

    .item-list-photo {
        flex: 1 0 auto;
        max-width: 49%;
    }

    .event-list {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }
    .item-list-event {
        flex: 1 0 auto;
        max-width: 49%;
    }
    .header__title {
        margin-top: 7rem;
    }
}

@media screen and (max-width: 800px) {
    .specials {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 0 auto;
        max-width: 49%;
    }

    .header {
        height: 60vh;
    }

    .header__title {
        margin-top: 7rem;
    }

    .hero-title {
        font-size: 3.5rem;
        line-height: 1.35;
    }

    .para-prime {
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .nav__header {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        gap: 2rem;
        height: 9rem;
        padding: 0 6rem;
        z-index: 100;
    }
}

@media screen and (max-width: 827px) {
    .photo-list {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }

    .item-list-photo {
        flex: 1 0 auto;
        max-width: 100%;
    }

    .event-list {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }
    .item-list-event {
        flex: 1 0 auto;
        max-width: 100%;
    }

    .header {
        height: 60vh;
    }
}

@media screen and (max-width: 540px) {
    .specials {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 0 auto;
        max-width: 100%;
    }

    .header {
        height: 50vh;
    }

    .hero-title {
        font-size: 3.5rem;
        line-height: 1.35;
    }

    .para-prime {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    .btn {
        padding: 1rem;
        border: 0.1rem;
    }
}

@media screen and (max-width: 380px) {
    .header {
        height: 60vh;
    }
}

@media screen and (max-width: 630px) {
    .form-guest-container {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        display: block;
        width: 100%;
        margin: 2rem 0;
    }

    .table-list {
        display: flex;
        flex-direction: column;
        grid-gap: 3rem;
    }


    .form-guest {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    .form-guest select {
        display: inline-block;
        width: 100%;
    }

}

@media screen and (max-width: 1110px) {
    .container {
        /* max-width: 100rem; */
        padding: 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        /* align-items: flex-start; */
    }

    .contactform__container {
        flex: 1;
        padding-right: 0;
        border-right: none;
    }

    .address {
        flex: 1;
        padding-left: 0;
        align-self: center;
    }

    .bkgrnd-block-itemform {
        width: 90%;
    }
}

@media screen and (max-width: 1168px) {
    .bkgrnd-block-registerform {
        width: 75%;
    }
}

@media screen and (max-width: 1196px) {
    /* BURGER MENU */

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        margin-left: 10rem;
        margin-top: 1rem;

        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 100;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: rgb(59, 59, 59);
        border-radius: 0.2rem;
        margin: 6px 0;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .eventType-menu-burger {
        background-color: #d6a997;
        border-radius: 0.2rem;
        padding: 2rem 0;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .frontmenu-link-burger {
        color: #333;
    }

    .eventType-menu {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .eventType-menu-burger {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .hamburger {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 450px) {
   .hamburger {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1454px) {
    .event-list {
        display: grid;
        grid-template-columns: repeat(6, 20%);
        grid-gap: 4rem;
    }
}

@media screen and (max-width: 1316px) {
    .currentWeddingInfo {
        position: absolute;
        top: 25%;
        left: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center ;
    }

    .web-info {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 670px) {
    .currentWeddingInfo {
        position: absolute;
        top: 28%;
        left: 37%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center ;
    }

    .web-info {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 554px) {
    .currentWeddingInfo {
        position: absolute;
        top: 28%;
        left: 34%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center ;
    }

    .web-info {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 390px) {
    .currentWeddingInfo {
        position: absolute;
        top: 24%;
        left: 31%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center ;
    }

    .web-info {
        font-size: 1.4rem;
    }
    .hero-title {
        font-size: 1.5rem;
      }
    .header {
        height: 56vh;
      }
    .hero-title {
        font-size: 1.9rem;
      }
}

@media screen and (max-width: 482px) {
    .hero-title {
        font-size: 2.5rem;
      }
}