{% extends 'base.html.twig' %}

{% block body %}

	<section id="contact-section">

        <div class="contact-section__containermain">
    
            <div class="contact-section__container">
                <div class="section-header">
                    <h2 class="htwo">Contactez Nous</h2>
                    <p class="main-paragraph">Vouz pouvez nous contacter en envoyant ce formulaire rempli</p>
                </div>
      
                <form class="contact-section__contact-form" action="process.php" method="POST">
                    <div class="contact-section__text-fields">
                      <input type="text" name="name" class="contact-section__input contact-section__name-input" placeholder="Name" required />
                      <input type="text" name="subject" class="contact-section__input contact-section__subject-input" placeholder="Subject" />
                      <input type="email" name="email" class="contact-section__input contact-section__email-input" placeholder="Email Address" required />
                      <input type="text" name="phone" class="contact-section__input contact-section__phone-input" placeholder="Phone Number" />
                      <textarea name="message" class="contact-section__input contact-section__message-input" placeholder="Enter Message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn--form-contact">Envoyer</button>
                </form>
            </div>
    
            <div class="contact-section__address">
              <p class="contact-section__p">Adresse: Event Planner - UK</p>
              <p class="contact-section__p">London</p>
              <p class="contact-section__p">Tel: </p>
              <p class="contact-section__p"><a href="krasynova@yahoo.com.com"><i class="footer__social-icon fa-solid fa-envelope"></i></a></p>
            </div>
    
        </div>
  </section>

{% endblock %}
