{% extends 'base.html.twig' %}

{# {% block title %}Accueil{% endblock %} #}

{% block body %}

<!-- HEADER SECTION -->
    <section class="header">
        <div class="header__title">

            <h1 class="hero-title">
                <span class="highlight">My Event Planner</span>
                <!-- <span class="highlight">Planner</span> -->
            </h1>
            <h4 class="para-prime">rester organisé pour votre événement est crucial</h4>

        </div>
        <!-- <div class="btn-div">
            <a href="contact.html" class="hero-block-btn">Organise your event</a>
        </div> -->
    </section>

    <!-- {# SECTION 1 #} -->
    <section id="section-one">
        <div class="container-home">

            <div class="section-header">
                <h2 class="section-title">Notre site vous offre</h2>
                <p class="lead">Organiser votre evenement en toute simplicité
                </p>
            </div>

            <div class="specials">
            {% for eventType in eventTypeList %}
                <div class="card">
                    <h3 class="dashboard-tertiary">{{ eventType.name }}<h3>
                    <div class="card-content">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis unde expedita porro
                            nemo, explicabo
                            id? Modi neque harum facilis similique, non enim quidem dolor, voluptas nam deserunt
                            architecto est iure
                            quae voluptate, accusamus placeat quos reiciendis tempora exercitationem ipsa perspiciatis.
                        </p>
                    </div>
                    <a class="wedding-event-btn" href="{{ path('app_user_eventlist_form', {'slug': eventType.slug}) }}">Créer votre événement</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}