{% extends 'base.html.twig' %}

{# {% block title %}Home{% endblock %} #}

{% block body %}


    <section class="header">
        <div class="header__title">
            <h1 class="hero-title">My Event Organiser</h1>
            <h4 class="hfour">staying organised is crucial</h4>
            <div class="header__div">
                <a href="contact.html" class="btn btn--hero">Organise your event</a>
            </div>
        </div>
    </section>
    
    <section id="section-one">

        <div class="container-home">

            <div class="section-header">
                <h2 class="section-title">Features</h2>
                <p class="main-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis itaque natus!
                </p>
            </div>

            <div class="specials">
                {% for eventType in eventTypeList %}
                <div class="card">
                    <h3 class="dashboard-tertiary">{{ eventType.name }}</h3>
                    <div class="card__content">
                        <p class="card__p">{{ eventType.description }}</p>
                        <a class="btn btn--card" href="{{ path('app_user_eventlist_form', {'slug': eventType.slug}) }}">Create your {{ eventType.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}