{% extends 'base.html.twig' %}

{% block title %}New EventList{% endblock %}

{% block body %}
    <h1>Create new EventList</h1>

    {{ include('user_eventlist/_form.html.twig') }}

    <a href="{{ path('app_user_eventlist_index') }}">back to list</a>
{% endblock %}
